.footer1-container1 {
  display: contents;
}
 
.footer1-container2 {
  display: none;
}
 
.footer1-container3 {
  display: contents;
}
 
.footer1-footer-nav-link1 {
  text-decoration: none;
}
 
.footer1-footer-nav-link2 {
  text-decoration: none;
}
 
.footer1-footer-nav-link3 {
  text-decoration: none;
}
 
.footer1-footer-nav-link4 {
  text-decoration: none;
}
 
.footer1-footer-nav-link5 {
  text-decoration: none;
}
 
.footer1-footer-nav-link6 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer1-footer-nav-link7 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer1-container4 {
  display: none;
}
 
.footer1-container5 {
  display: contents;
}
 
.footer1-container6 {
  display: none;
}
 
.footer1-container7 {
  display: contents;
}
 
.footer1root-class-name {
  width: auto;
  height: auto;
  min-width: auto;
}
